<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Employee Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1> Employee Management System </h1>
    <hr>
    <h2> Update Employee</h2>

    <form action="#" th:action="@{/update-form/{id}(id=${employee.id})}" th:object = "${employee}" method="POST">

        <!-- Add hidden form field to handle update-->
        <input type="hidden" th:field="*{id}"/>
        <label>First name</label>
        <input type="text" th:field = "*{firstName}" class ="form-control mb-4 col-4">
        <label>Last name</label>
        <input type="text" th:field = "*{lastName}" class ="form-control mb-4 col-4">
        <label>Email</label>
        <input type="text" th:field = "*{email}" class ="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Update Employee</button>

    </form>
</div>
</body>
</html>